h1 Preparatory Work

p Congratulations on joining Lighthouse Labs. 

p Please wait while you're allowed access to the curriculum. In the mean time, please complete the following prep work prior to starting with us on your first day.


= render partial: 'activities/activity', collection: @activities

hr

h3 Happy Holidays From Lighthouse!

= image_tag 'happy-holidays-from-lighthouse.jpg', style: 'width: 100%'

hr