h1 Preparatory Work

p Congratulations on joining Lighthouse Labs. 

p Before starting to write code, we have some more preparatory activities for you to complete.

= render partial: 'activities/activity', collection: @activities
