<div class="requests-list"></div>

<script id="request_template" type="x-tmpl-mustache">
  <li>
    <div class="student-avatar">
      <img src="{{requestor.custom_avatar.thumb.url}}{{^requestor.custom_avatar.thumb.url}}{{requestor.avatar_url}}{{/requestor.custom_avatar.thumb.url}}" />
    </div>
    <div class="student-description">
      <h4 class="student-heading">{{requestor.first_name}} {{requestor.last_name}}</h4>
      <p class="assistance-timestamp">Requested assistance <abbr class="timeago" title="{{start_at}}">{{start_at}}</abbr></p>
      <p>
        <a href="/assistance_requests/{{id}}/start_assistance" class="btn btn-primary btn-lg" data-method="post">Start Assisting</a>
        <a href="/assistance_requests/{{id}}" class="btn btn-danger btn-lg" data-method="delete">&times;</a>
      </p>
    </div>
  </li>
</script>

<script id="code_reviews_template" type="x-tmpl-mustache">
  <li>
    <div class="student-avatar">
      <img src="{{requestor.custom_avatar.thumb.url}}{{^requestor.custom_avatar.thumb.url}}{{requestor.avatar_url}}{{/requestor.custom_avatar.thumb.url}}" />
    </div>
    <div class="student-description">
      <h4 class="student-heading">{{requestor.first_name}} {{requestor.last_name}}</h4>
      <p class="assistance-timestamp">Requested code review <abbr class="timeago" title="{{start_at}}">{{start_at}}</abbr></p>
      {{#activity_submission}}
      <p><b>Submission URL:</b> <a target="_blank" href="{{activity_submission.github_url}}">{{activity_submission.github_url}}</a></p>
      {{/activity_submission}}
      <p>
        <a href="/assistance_requests/{{id}}/start_assistance" class="btn btn-primary btn-lg" data-method="post">Start Reviewing</a>
        <a href="/assistance_requests/{{id}}" class="btn btn-danger btn-lg" data-method="delete">&times;</a>
      </p>
    </div>
  </li>
</script>

<script id="all_student_template" type="x-tmpl-mustache">
  <li>
    <div class="student-avatar">
      <img src="{{custom_avatar.thumb.url}}{{^custom_avatar.thumb.url}}{{avatar_url}}{{/custom_avatar.thumb.url}}" />
    </div>
    <div class="student-description">
      <h4 class="student-heading">{{first_name}} {{last_name}}</h4>
      <p class="assistance-timestamp">Last received assistance <abbr class="timeago" title="{{last_assisted_at}}">{{last_assisted_at}}</abbr></p>
      <p><a href="students/{{id}}/assistances" class="btn btn-primary btn-lg" data-method="post">Checkin On</a></p>
    </div>
  </li>
</script>

<script id="assitance_template" type="x-tmpl-mustache">
  <li class="active">
    <div class="student-avatar">
      <img src="{{assistee.custom_avatar.thumb.url}}{{^assistee.custom_avatar.thumb.url}}{{assistee.avatar_url}}{{/assistee.custom_avatar.thumb.url}}" />
    </div>
    <div class="student-description">
      <h4 class="student-heading">{{assistee.first_name}} {{assistee.last_name}}</h4>
      <p class="assistance-timestamp">You started assisting <abbr class="timeago" title="{{start_at}}">{{start_at}}</abbr></p>
      {{#assistance_request.activity_submission}}
      <p><b>Submission URL:</b> <a target="_blank" href="{{assistance_request.activity_submission.github_url}}">{{assistance_request.activity_submission.github_url}}</a></p>
      {{/assistance_request.activity_submission}}
      <p>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#assistance_model_{{id}}">
          End Assistance
        </button>
      </p>
    </div>
    <div class="modal fade" id="assistance_model_{{id}}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Notes</h4>
          </div>
          <form action="/assistances/{{id}}/end" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <div class="modal-body">
              <div class="form-group">
                <textarea id="assistance_notes" name="assistance[notes]" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="assistance_rating">Rating</label>
                <select id="assistance_rating" name="assistance[rating]" class="form-control">
                  <option value="1">1 - Needs improvement</option>
                  <option value="2">2 - Fair</option>
                  <option value="3" selected="selected">3 - Good</option>
                  <option value="4">4 - Excellent</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submit()">End Assistance</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </li>
</script>
