.vertical-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
  // border: 1px solid black;
}

.outcomes-glyph {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.outcomes-glyph-heading {
  font-size: $font-size-h2;
}

.outcomes-body {
  font-size: $font-size-h6;
}

.edit-glyph-heading {
  width: 53px;
  height: 53px;
}

.edit-glyph {
  width: 24px;
  height: 24px;
}