.vertical-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.outcomes-glyph {
  text-align: center;
}

.outcomes-glyph-heading {
  font-size: $font-size-h2;
}

.outcomes-body {
  font-size: $font-size-h6;
}

.learning-objectives-row :nth-child(odd){
  background-color: #C0C0C0;
}
.learning-objectives-row :nth-child(even){
  background-color: #FFFFFF;
}