.row.outcome-row {
  margin-bottom: 10px;
}

.add-outcome-field-button {
  margin-top: 10px;
}

.btn.activity-outcome-button {
  line-height: 0.6;
}

ul.list-inline.skill-ul {
  margin-left: 0;
}

.list-inline li.skill-list {
  padding-right: 0px;
}

.form-control.edit-skill {
  display: inline-block;
  width: 75%;
  margin-right: 10px;
}

.new-skill-label {
  margin-right: 30px;
}