// Place all the styles related to the admin/teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.teacher-stats {
  
  .chart {
    min-width: 310px; 
    height: 400px; 
    margin: 0 auto;
  }

  .dl-horizontal {
    dd {
      margin-bottom: 0px;
    }
  }

}
