.day-information-holder 
  .day-information-description
    == markdown day.info.description if day.info.description

  = link_to "Edit Description", edit_day_info_path(day), class: 'btn btn-primary' if teacher?