nav.calendar {

  .week {
    @extend .pagination;
    @extend .pagination-minimal; //flatUI
    margin: 2px;

    ul {
      li.week-number {
        a {
          padding: 12px 8px;
        }
      }
      li.day-number {
        // reverse flat-ui border-radius change
        &:last-child {
          a {
            border-radius: 50px;
          }
        }
        &.unlocked:not(.active) {
          a {
            background-color: $brand-secondary;
            color: $brand-secondary;
            &:hover {
              color: white;
            }
          }
        }
        &.today:not(.active) {
          a {
            background-color: $peter-river;
            color: $peter-river;
            &:hover {
              border-color: $peter-river;
            }
          }
        }
        &.disabled {
          a {
            color: $gray;
            background-color: $gray;
            cursor: default;
            &:hover {
              border-color: $gray-light;
            }

          }
        }
        &.active {
          a {
            border-color: white;
          }
        }
      }
    }
  }
}
.btn-yesterday {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}

.btn-today {
  @extend .btn;
  @extend .btn-warning;
  @extend .btn-block;
}

.btn-row{
  width: 230px;
  padding-left: 15px;
  // width: 213px;
    @media (max-width: 768px) {
    width: auto;
    padding-right: 15px;
  }
}
.btn-container{
  padding: 2px !important;
  @include make-xs-column(6);
}