h1 Preparatory Work

/ p Congratulations on joining Lighthouse Labs. 

/ p Before starting to write code, we have some more preparatory activities for you to complete.

/ p The setup work below can be done from home, prior to day1 of the bootcamp, giving you more time on your first day to focus on other activities. But at the very latest, you will need them done before day2, which is when we start running needing our dev environment in order to run Ruby.

= render "days/info", day: day if @day.info
= render partial: 'activities/activity', collection: @activities
