// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.activity-details {
  .instructions {
    img {
      max-width: 100%;
    }
  }
  
  .nav-buttons{
    margin-bottom: 50px;
    margin-top: 75px;

    .btn-previous{
        @extend .btn;
        @extend .btn-primary;
    }
    .btn-next{
      @extend .btn;
      @extend .btn-primary;
      @extend .pull-right;
    }
  }
  
  .btn-activity {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
  }

  .btn-activity-incomplete-status {
    @extend .btn;
    @extend .btn-danger;
    @extend .btn-activity;
  }

  .btn-activity-complete-status {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-activity;
  }
}