.activity-details {
  img {
    max-width: 100%;
  }
  .lecture-tips {
    padding: 1px 20px 10px 20px;
    background-color: #EEE;
    border-radius: 10px;
  }
  .left-actions {
    height: 42px;
    display: inline-block;
  }
  .btn-previous {
    @include button-variant($btn-default-color, $brand-secondary, $btn-primary-hover-bg, $btn-primary-active-bg);
    margin-right: 10px;
  }
  .btn-next {
    @include button-variant($btn-default-color, $brand-secondary, $btn-primary-hover-bg, $btn-primary-active-bg);
  }
  .btn-edit {
    @include button-variant($btn-default-color, $brand-warning, $btn-warning-hover-bg, $btn-warning-active-bg);
  }
  .btn-revisions {
    @include button-variant($btn-default-color, $brand-warning, $btn-warning-hover-bg, $btn-warning-active-bg);
  }
  .btn-new-message {
    @include button-variant($btn-default-color, $brand-danger, $btn-danger-hover-bg, $btn-danger-active-bg);
  }
  .btn-new-recording {
    @include button-variant($btn-default-color, $brand-danger, $btn-danger-hover-bg, $btn-danger-active-bg);
  }
  .btn-edit,
  .btn-revisions,
  .btn-new-message,
  .btn-new-recording {
    float: right;
    margin-left: 10px;
  }
  .activity_url,
  .form-control#activity_submission_github_url,
  .form-control#activity_view {
    margin-left: 5px;
    border-radius: 6px;
  }
  .form-control#activity_submission_github_url {
    width: 358px;
  }
  .form-control#activity_view {
    width: 354px;
  }
  .duration {
    float: right;
  }
  .btn-activity-complete-status {
    @include button-variant($btn-default-color, $brand-success, $btn-success-hover-bg, $btn-success-active-bg);
  }
  .btn-activity-complete-status-no-code-review {
   @include button-variant($btn-default-color, $brand-info, $btn-info-hover-bg, $btn-info-active-bg);
  }
  .btn-activity-incomplete-status {
    @include button-variant($btn-default-color, $brand-danger, $btn-danger-hover-bg, $btn-danger-active-bg);
  }
  .fa-1 {
    font-size: 1.7em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
}

.recording-item {
  @include make-row();
  line-height: 1.5;
  margin-bottom: 1em;
  .recording-title {
    font-size: 1.2em;
    margin: 0;
  }
}

.activity-submission-form {
  display: inline;
}