// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.activity-details {
  .instructions {
    img {
      max-width: 100%;
    }
  }
}

div.comment {
    margin-bottom: 2px;
    padding: 3px;
    font-size: 14px;
    color: #34495e;
}
