// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.activity-details {
  .instructions {
    img {
      max-width: 100%;
    }
  }

  .lecture-tips {
    padding: 1px 20px 10px 20px;
    background-color: #EEE;
    border-radius: 10px;
  }

  .left-actions {
    height: 42px;
    display: inline-block;
  }


  .btn-previous{
    @extend .btn;
    @extend .btn-primary;
    margin-right: 10px;
  }

  .btn-next{
    @extend .btn;
    @extend .btn-primary;
  }
  .btn-edit{
    @extend .btn;
    @extend .btn-warning;
    @extend .pull-right;
  }
  .btn-revisions{
    @extend .btn;
    @extend .btn-warning;
    @extend .pull-right;
    margin-right: 10px;
  }
  .btn-new-message {
    @extend .btn;
    @extend .btn-danger;
    @extend .pull-right; 
    margin-right: 10px;
  }


  .activity_url {
    margin-left: 5px;
    border-radius: 6px;
  }
  .form-control#activity_submission_github_url {
    @extend .activity_url;
    width: 358px;
  }

  .form-control#activity_view {
    @extend .activity_url;
    width: 354px;
  }

  // .btn-activity {
  //   color: white;
  //   margin-left: 5px;
  //   @extend .pull-right;
  // }

  .duration {
    @extend .pull-right;
  }

  .btn-activity-complete-status {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-activity;
  }

  .btn-activity-incomplete-status {
      @extend .btn;
      @extend .btn-danger;
      @extend .btn-activity;
  }

  .fa-1 {
    font-size: 1.7em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
}
.activity .pull-right.icon i.fa-check-square-o {
  color: $green-sea;
}

.activity-form-title {
  margin: 1em auto;
  text-align: center;
}