.activity-details {

  aside { 
    background: #eee; 
    font-size: .85em; 
    margin: 2em 0; 
    padding: .5em 1.5em; 
  }

  kbd { 
    border: 1px solid gray; 
    color: darkgray;
    border-radius: .25em; 
    padding: .125em .25em;
    background-color: rgba(0,0,0,0);
  }
  
  aside {
    kbd {
      color: black;
    }
  }

  aside > h3:first-child { 
    margin-top: 1em; 
    font-size: 1.5em;
  }

  @media (min-width: 46em) {
    aside { float: right; margin: 0 0 1em 2em; width: 24em; }
  }

  @media (min-width: 88em) {
    aside { margin-right: -14em; }
  }


  h1:first-child {
    margin-top: -12px;
  }

  img {
    max-width: 100%;
  }
  .lecture-tips {
    padding: 1px 20px 10px 20px;
    background-color: #EEE;
    border-radius: 10px;
  }
  .left-actions {
    height: 42px;
    display: inline-block;
  }
  .btn-previous {
    @include button-variant($btn-default-color, $brand-secondary, $btn-primary-hover-bg, $btn-primary-active-bg);
    margin-right: 10px;
  }
  .btn-next {
    @include button-variant($btn-default-color, $brand-secondary, $btn-primary-hover-bg, $btn-primary-active-bg);
  }
  .btn-edit {
    @include button-variant($btn-default-color, $brand-warning, $btn-warning-hover-bg, $btn-warning-active-bg);
  }
  .btn-revisions {
    @include button-variant($btn-default-color, $brand-warning, $btn-warning-hover-bg, $btn-warning-active-bg);
  }
  .btn-new-message {
    @include button-variant($btn-default-color, $brand-danger, $btn-danger-hover-bg, $btn-danger-active-bg);
  }
  .btn-new-recording {
    @include button-variant($btn-default-color, $brand-danger, $btn-danger-hover-bg, $btn-danger-active-bg);
  }
  .btn-edit,
  .btn-revisions,
  .btn-new-message,
  .btn-new-recording {
    float: right;
    margin-left: 10px;
  }
  .activity_url,
  .form-control#activity_submission_github_url,
  .form-control#activity_view {
    margin-left: 5px;
    border-radius: 6px;
  }
  .form-control#activity_submission_github_url {
    width: 358px;
  }
  .form-control#activity_view {
    width: 354px;
  }
  .duration {
    float: right;
  }
  .btn-activity-complete-status {
    @include button-variant($btn-default-color, $brand-success, $btn-success-hover-bg, $btn-success-active-bg);
  }
  .btn-activity-complete-status-no-code-review {
   @include button-variant($btn-default-color, $brand-info, $btn-info-hover-bg, $btn-info-active-bg);
  }
  .btn-activity-incomplete-status {
    @include button-variant($btn-default-color, $brand-danger, $btn-danger-hover-bg, $btn-danger-active-bg);
  }
  .fa-1 {
    font-size: 1.7em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
}

.recording-item {
  @include make-row();
  line-height: 1.5;
  margin-bottom: 1em;
  .recording-title {
    font-size: 1.2em;
    margin: 0;
  }
}

.activity-submission-form {
  display: inline;
}

pre { 
  // http://stackoverflow.com/questions/10374171/how-to-make-twitter-bootstraps-pre-blocks-scroll-horizontally
  overflow-y: auto;
  word-wrap: normal;
  
  code {
    overflow-wrap: normal;
    white-space: pre;
    word-wrap: normal;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.allow-select {
 -moz-user-select: text;
 -webkit-user-select: text;
 -ms-user-select: text; 
}