#cohort-locations {
  label {
    display: inline-block;
    margin: 0 .25em;
  }
}
.requests-list {
  img {
    height: auto;
    max-width: 100%;
  }
  .section-heading {
    border-bottom: 1px solid rgb(128,128,128);
    font-size: 150%;
    margin-bottom: .5em;
    padding-bottom: .5em;
  }
  .student-list {
    list-style: none;
    margin: 0 0 4em;
    overflow: hidden;
    padding: 0;
    & > li {
      @include clearfix();
      margin: 2em 0;
    }
    .student-avatar {
      margin: 0 auto;
      width: 200px;
    }
    .student-heading {
      font-size: 250%;
      margin: .125em 0;
    }
    .student-remote {
      background: $brand-danger;
      color: white;
      display: block;
      font-size: 85%;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
    .student-cohort {
      margin-top: -.25em;
      .cohort-name {
        font-weight: 800;
      }
      .cohort-location {
        font-weight: 400;
        font-style: italic;
      }
    }
    @media (min-width: $screen-sm-min) {
      .student-avatar {
        float: left;
        margin: 0;
      }
      .student-description {
        margin-left: 220px;
      }
    }
    .timeago {
      padding-left: 5px;
      font-weight: bold;
    }
  }
  @media (max-width: $screen-xs-max) {
    text-align: center;
    .assistance-timestamp {
      font-size: 85%;
    }
  }
}

