.code-review-rating {
  padding-bottom: 10px;
  border-bottom: 1px dashed gainsboro;
}

.code-review-teacher-notes {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed gainsboro;
  font-size: 14px;
}

.code-review-student-notes {
  font-size: 14px;
}

.view-code-review-button {
} 

.code-review-button-holder {
}

.code-review-table {
  max-width: 100%;
  font-size: 14px;
}

.code-review-table > thead > tr > th, .code-review-table > tbody > tr > td {
  padding: 7px 0px;
}

.new-code-review-form-error {
  border-color: tomato;
}