.code-review-rating {
  padding-bottom: 10px;
  border-bottom: 1px;
}

.code-review-teacher-notes {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px;
  font-size: 14px;
}

.code-review-student-notes {
  font-size: 14px;
}

.view-code-review-button {
}

.code-review-button-holder {
}

.code-review-table {
  max-width: 100%;
  font-size: 14px;
}

.code-review-table > thead > tr > th, .code-review-table > tbody > tr > td {
  padding: 0px;
  line-height: 0px; // ~19.7px
  border-top: 0px;
  border-bottom: 0;
  border: 0px;
  margin: 0px;
}

.new-code-review-form-error {
  border-color: tomato;
}