.code-review-rating {
  padding-bottom: 10px;
  border-bottom: 1px dashed gainsboro;
}

.code-review-teacher-notes {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed gainsboro;
  font-size: 14px;
}

.code-review-student-notes {
  font-size: 14px;
}

.view-code-review-button {
  display: block;
}

.code-review-button-holder {
  text-align: center;
}

.code-review-table {
  max-width: 100%;
  font-size: 14px;
}

.code-review-table > thead > tr > th, .code-review-table > tbody > tr > td {
  padding: 7px 3px;

}

.new-code-review-form-error {
  border-color: tomato;
}

// Styling for view_code_review_modal.html
.teacher-avatar {
  width: 80px;
  height: 80px;
}
.modal-body {
  clear: both;
}
.indented {
  text-align: start;
  text-indent: 1em;
}
.heading {
  text-decoration: underline;
  font-size: 18px;
}
.feedback p {
  line-spacing: 0em;
}

// Styling for new_code_review_modal.html
.editor {
  width: 100%;
  height: 250px;
  margin: auto;
  margin-bottom: 20px;
}