#new_day_feedback{
  margin-bottom: 30px;

  label.face {

    opacity: 0.7;

    &:hover {
      opacity: 1.0;
    }

    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    
    margin-right: 10px;
    
    input {

      /* HIDE RADIO */
      &[type="radio"] {
        display:none;
      }

      &#day_feedback_mood_happy:checked + i {
        color: $brand-secondary;
      }
      
      &#day_feedback_mood_sad:checked + i {
        color: $brand-danger;
      }
      
      &#day_feedback_mood_ok:checked + i {
        color: $brand-warning;
      }
    }

    i {
      cursor: pointer;
    }
  }
}

.happy-row {
  background-color: #C6FFC6;
}
.ok-row {
  background-color: #FFFFDB;
}
.sad-row {
  background-color: #FFD7EB;
}
.true-row {
  font-weight: bold;
}
.read-more-link {
  color: black;
  text-decoration: underline; 
}
.read-more-link:hover {
  color: black;
  text-decoration: underline;   
}

.percentage-feedback-happy {
  margin-left: -10px;
  top: -0.25em;
  color: $brand-secondary;
}

.percentage-feedback-ok {
  margin-left: -10px;
  top: -0.25em;
  color: $brand-warning;
}

.percentage-feedback-sad {
  margin-left: -10px;
  top: -0.25em;
  color: $brand-danger;
}

.total-feedbacks {
  top: -1.5em;
  .happy {
    color: $brand-secondary;
  }
  .ok {
    color: $brand-warning;
  }
  .sad {
    color: $brand-danger;
  }
}

.admin-feedback-dropdown {
  width: 120px;
  height: 30px;
  font-size: 12px;
  line-height: 1.0;
  display: inline-block;
}

.admin-feedback-button {
  height: 30px;
  line-height: 0.5;
}

.admin-feedback-text-box {
  width: 150px;
  height: 30px;
  font-size: 12px;
  line-height: 1.0;
  display: inline-block;
}

.archive-confirm-button {
  display: none
}