#new_day_feedback{
  margin-bottom: 30px;

  label.face {

    opacity: 0.7;

    &:hover {
      opacity: 1.0;
    }

    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    
    margin-right: 10px;
    
    input {

      /* HIDE RADIO */
      &[type="radio"] {
        display:none;
      }

      &#day_feedback_mood_happy:checked + i {
        color: $brand-secondary;
      }
      
      &#day_feedback_mood_sad:checked + i {
        color: $brand-danger;
      }
      
      &#day_feedback_mood_ok:checked + i {
        color: $brand-warning;
      }
    }

    i {
      cursor: pointer;
    }
  }
}

.happy-row {
  background-color: #C6FFC6;
}
.ok-row {
  background-color: #FFFFDB;
}
.sad-row {
  background-color: #FFD7EB;
}
.true-row {
  font-weight: bold;
}
.read-more-link {
  color: black;
  text-decoration: underline; 
}
.read-more-link:hover {
  color: black;
  text-decoration: underline;   
}

.percentage-feedback-happy {
  margin-left: 0px;
  top: -0.25em;
  color: $brand-secondary;
}

.percentage-feedback-ok {
  margin-left: 0px;
  top: -0.25em;
  color: $brand-warning;
}

.percentage-feedback-sad {
  margin-left: 0px;
  top: -0.25em;
  color: $brand-danger;
}

.total-feedbacks {
  top: -1.2em;
  margin-top: 15px;
  .happy {
    color: $brand-secondary;
  }
  .ok {
    color: $brand-warning;
  }
  .sad {
    color: $brand-danger;
  }
}

.admin-feedback-dropdown, .admin-feedback-text-box {
  width: 120px;
  height: 35px;
  font-size: 12px;
  line-height: 1.0;
  display: inline-block;
}

.admin-feedback-button {
  height: 35px;
  line-height: 0.5;
}

.admin-feedback-text-box {
  width: 150px;
  height: 35px;
  font-size: 12px;
  line-height: 1.0;
  display: inline-block;
}

.archive-confirm-button {
  display: none;
  width: 72px;
}

.archive-button {
  width: 72px;
}

.hidden-button {
  display: none;
}

.day-feedback-date {
  width: 75px;
}

.day-feedback-text {
  width: 500px;
}

.admin-feedback-date-select {
  width: 145px;
  height: 35px;
  font-size: 12px;
  line-height: 1.0;
  display: inline-block;
 }

 .admin-edit-day-feedback-notes-text-area {
  border: none;
 }

 .download-csv-button, .download-xls-button {
  float: right;
  display: inline-block;
  a {
    color: white;
  }
 }
 .download-csv-button {
  margin: 13px 0;
 }
 .download-xls-button {
  margin-top: 13px;
  margin-right: 5px;
 }