.schedule-heading {
  .stats {
    margin-top: 48px;
    sup {
      top: -1.5em;
    }
    sub {
      left: -7px;
    }
    .happy {
      color: $brand-secondary;
    }
    .ok {
      color: $brand-warning;
    }
    .sad {
      color: $brand-danger;
    }
  }
}

.activity {
  background-color: #2c3e50;
  border-radius: 6px;
  color: #798795;
  font-size: 24px;
  line-height: 24px;
  padding: 0 60px 0 140px;
  position: relative;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 0 0 3px $gray;
    .name {
      color: $gray-light;
    }
  }
  .icon {
    font-size: 36px;
    height: 100px;
    line-height: 100px;
    margin-top: -50px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
  }
  .icon-completion  {
    right: 0;
    .fa-check-square-o {
      color: $green-sea;
    }
    .completed-activities {
      color: $green-sea;
      font-size: .6em;
    }
  }
  .icon-calendar-description-button {
    right: 0;
    .fa-chevron-down {
      color: $green-sea;
    }
    .fa-chevron-down:hover {
      color: $gray-light;
      cursor: pointer;
    }
  }
  .icon-type {
    left: 0;
  }
  .name {
    color: $green-sea;
    overflow: hidden;
    padding: 28px 0;
  }
  .calendar-event-location {
    color: $green-sea;
    font-size: 16px;
  }
  .calendar-event-name {
    color: $green-sea;
    font-size: 24px;
    padding: 28px 0;
  }
  .calendar-event-name-with-location {
    color: $green-sea;
    font-size: 24px;
    padding: 20px 0;
  }
  .time {
    color: white;
    font-size: 14px;
    left: 70px;
    line-height: 20px;
    margin-top: -50px;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
  }
  .time-duration {
    font-size: 0.7em;
  }
}

.description-container {
  font-size: 16px;
  padding: 2px 0;
  display: none;
  margin-top: -20px;
  background-color: #2c3e50;
  color: #798795;
  border-radius: 0px 0px 6px 6px;
}
.description-details {
  color: $green-sea;

  margin-left: 140px;
  padding: 10px 55px 10px 0px;
}

.description-open {
  border-bottom: 1px solid black;
  border-radius: 6px 6px 0px 0px;
}

.calendar {
  margin-bottom: 20px;

  .activity:hover {
    box-shadow: none;
  }
}