.schedule-heading {
  .stats {
    margin-top: 48px;
    sup {
      top: -1.5em;
    }
    sub {
      left: -7px;
    }
    .happy {
      color: $brand-secondary;
    }
    .ok {
      color: $brand-warning;
    }
    .sad {
      color: $brand-danger;
    }
  }
}

.activity {
  background-color: #2c3e50;
  border-radius: 6px;
  color: #798795;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 0 60px 0 140px;
  position: relative;
  &:hover {
    box-shadow: 0 0 0 3px $gray;
    .name {
      color: $gray-light;
    }
  }
  .icon {
    font-size: 36px;
    height: 100px;
    line-height: 100px;
    margin-top: -50px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
  }
  .icon-completion  {
    right: 0;
    .fa-check-square-o {
      color: $green-sea;
    }
    .completed_activities {
      color: $green-sea;
      font-size: .6em;
    }
  }
  .icon-type {
    left: 0;
  }
  .name {
    color: $green-sea;
    overflow: hidden;
    padding: 28px 0;
  }
  .time {
    color: white;
    font-size: 14px;
    left: 70px;
    line-height: 20px;
    margin-top: -50px;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
  }
}

