// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#feedback_notes {
    width: 350px;
    height: 100px;
}

.raty-editor {
  width: 120px;
  height: 40px;
}

.hidden-notes-field {
  display: none;
}

.table-feedbacks {
  font-size: 15px;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc { 
  background-image: url(up_arrow.gif); 
}

th .desc { 
  background-image: url(down_arrow.gif); 
}

.admin-teacher-filter-form {
  text-align: center;
}

.teacher_feedbacks_section {
  border-bottom: 1px solid black;
}

.feedback-rating-column {
  width: 185px;
}