// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#feedback_notes {
    width: 350px;
    height: 100px;
}

.raty-editor {
  width: 200px;
  height: 40px;
}

.hidden-notes-field {
  display: none;
}

.table-feedbacks {
  font-size: 15px;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc {
  background-image: url(up_arrow.gif);
}

th .desc {
  background-image: url(down_arrow.gif);
}

.teacher_feedbacks_section {
  border-bottom: 1px solid black;
  clear: both;
}

.feedback-rating-column {
  width: 185px;
}
.admin-curriculum-feedback-date-column, .admin-curriculum-feedback-student-column {
  width: 145px;
}
.admin-teacher-feedback-date-column {
  width: 140px;
}
.admin-teacher-stat {
  text-align: center;
}
.admin-teacher-stat-heading {
  font-size: 14px;
}
.admin-teacher-stats-row {
  float: left;
  display: block;
  margin-top: 15px;
}
.in-place-edit-text-area {
  font-size: 12px;
}

.teacher-avatar {
  border-width: 3px;
  border-radius: 10px;
  margin-right: 2px;
}
