.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.upload-button {
    padding-left: 0;
    margin-top: 10px;
}

// http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button/18164555#18164555
