@import 'flat-ui-pro/variables';
@import 'bootstrap';
@import "font-awesome";
@import 'flat-ui-pro';

// Fix issue with .select form flat-ui CC

div.form-group.select {
  display: block; 
}

.navbar-nav > li > a {
  padding: 15px 10px;
}

.navbar-nav > li > a.on-duty-link {
  padding: 15px 15px;
}

.navbar-nav > li > a.off-duty-link {
  padding: 15px 15px;
}
