.incomplete-activities-title {
  text-align: center;
}

.activity-week {
  margin-top: 26px;
  padding-left: 0px;
}

.incomplete-activity-submit-button {
  @include button-variant($btn-default-color, $brand-success, $btn-success-hover-bg, $btn-success-active-bg);
  margin-top: 20px;
}