html,
body {
  min-height: 100%;
}
body {
  padding-top: 70px;
}
.non-tablet-label {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
header > nav {
  i,
  img {
    margin: 0 4px;
  }
  img {
    height: 1em;
    width: 1em;
  }
  .navbar-btn {
    &.btn-warning {
      background-color: $brand-warning;
      &:hover,
      &:focus {
        background-color: #dab10d;
      }
    }
  }
  #assistance-request-module {
    margin-left: 10px;
    margin-right: 15px;
  }
}

main {
  $side-nav-width: 240px;
  aside.side-nav {
    @media (min-width: $screen-sm-min) {
      float: left;
      width: $side-nav-width;
    }
  }
  .content {
    @media (min-width: $screen-sm-min) {
      float: left;
      width: $container-sm - $side-nav-width - $grid-gutter-width;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md - $side-nav-width - $grid-gutter-width;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg - $side-nav-width - $grid-gutter-width;
    }
    .jumbotron {
      padding-top: 30px;
      padding-bottom: 30px;
      h1 {
        font-size: 68px;
      }
    }
  }
}
