html,
body {
  min-height: 100%;
}
body {
  padding-top: 70px;
}
header > nav {
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 20px;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 20px;
  }
  .navbar-nav [class^="fui-"] {
    margin-right: 6px;
  }
  .student {
    img {
      height: 18px;
      width: 18px;
      margin: -1px 7px 0 0;
    }
    .caret {
      margin-left: 4px;
    }
  }
  .navbar-btn {
    &.btn-warning {
      background-color: $brand-warning;
      &:hover,
      &:focus {
        background-color: #dab10d;
      }
    }
  }
  #assistance-request-module {
    margin-left: 6px;
  }
}

$side-nav-width: 240px;
main {
  aside.side-nav {
    @media (min-width: $screen-sm-min) {
      float: left;
      width: $side-nav-width;
    }
  }
  .content {
    @media (min-width: $screen-sm-min) {
      float: left;
      width: $container-sm - $side-nav-width - $grid-gutter-width;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md - $side-nav-width - $grid-gutter-width;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg - $side-nav-width - $grid-gutter-width;
    }
    .jumbotron {
      padding-top: 30px;
      padding-bottom: 30px;
      h1 {
        font-size: 68px;
      }
    }
  }
}
