.question-option {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 2em;
}

.submission-answer {
  margin-top: 6rem;
}

.submission-question {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 8rem;
  margin-top: 8rem;
  padding-bottom: 8rem;
}
