.media-list.requests-list,
.media-list.code-reviews-list {
  img {
    max-height: 200px;
    max-width: 30%;
    float: left;
    margin-right: 10px;
  }

  .media-heading{
    font-size: 48px;
  }

  .active{
    background: #cca60c;

    .media-heading{
      margin-top: 10px;
    }

    .timeago{
      font-weight: bold;
    }

    .modal textarea{
      width: 100%;
      min-height: 100px;
    }
  }
}
