section.search-results {	
	margin-top: 26px;
}

section.search-box {

	margin-top: 42px;
	
	form.search {
	  @extend .form-inline;
	  margin-top: 20px;
	
	  .search-btn {
	  	@extend .btn;
	  	@extend .btn-primary;
	  }
	
	  .search-field {
	  	@extend .form-control;
	  	@extend .input-lg;
	  	// Note: this is bad but it's okay for now since the entire site needs work in terms of responsive
	  	width: 300px;
	  	margin-right: 10px;
	  }

	  .small-search-field {
	  	@extend .form-control;
	  	@extend .input-lg;
	  	// Note: this is bad but it's okay for now since the entire site needs work in terms of responsive
	  	width: 217px;
	  	margin-bottom: 15px;
	  }
	}  	
}
