#search-form {
  display: none;
  margin-top: 10px;
}

.search-input-field {
  width: 400px;
  display: inline-block;
}

.search-activities-title {
  text-align: center;
}

.search-submit-button {
  margin-top: -25px;
  margin-left: 10px;
  background-color: #1abc9c;
}