h1.day-heading {
  margin-bottom: 0;
}
h3.date-heading {
  margin-top: 0;
}
.nav-calendar {
  .btn-yesterday {
    @include button-variant($btn-default-color, $brand-secondary, $btn-primary-hover-bg, $btn-primary-active-bg);
  }
  .btn-today {
    @include button-variant($btn-default-color, $brand-warning, $btn-warning-hover-bg, $btn-warning-active-bg);
  }
  .btn-incomplete-activites {
    @include button-variant($btn-default-color, $brand-info, $btn-info-hover-bg, $btn-info-active-bg);
    width: 174px;
    @media (min-width: $screen-md-min) {
      margin-top: 4px;
    }
  }
}

.nav-week {
  @extend .pagination;
  @extend .pagination-minimal;
  display: inline-block;
  margin: 0 4px 4px 0;
  ul {
    display: inline-block;
    padding-right: 6px;
    li.week-number a {
      padding: 12px 8px;
    }
    li.day-number {
      &:last-child a {
        border-radius: 50%;
      }
      &.unlocked:not(.active) a {
        background-color: $brand-secondary;
        color: $brand-secondary;
        &:hover {
          color: white;
        }
      }
      &.today:not(.active) a {
        background-color: $peter-river;
        color: $peter-river;
        &:hover {
          border-color: $peter-river;
        }
      }
      &.disabled a {
        color: $gray;
        background-color: $gray;
        cursor: default;
        &:hover {
          border-color: $gray-light;
        }
      }
      &.active a {
        border-color: white;
      }
    }
  }
}
