h1.day-heading {
  margin-bottom: 0;
}
h3.date-heading {
  margin-top: 0;
}
.nav-calendar {
  .btn-yesterday {
    @extend .btn;
    @extend .btn-primary;
  }
  .btn-today {
    @extend .btn;
    @extend .btn-warning;
  }
}
.nav-week {
  @extend .pagination;
  @extend .pagination-minimal;
  margin: 0 4px 4px 0;
  ul {
    li.week-number a {
      padding: 12px 8px;
    }
    li.day-number {
      &:last-child a {
        border-radius: 50%;
      }
      &.unlocked:not(.active) a {
        background-color: $brand-secondary;
        color: $brand-secondary;
        &:hover {
          color: white;
        }
      }
      &.today:not(.active) a {
        background-color: $peter-river;
        color: $peter-river;
        &:hover {
          border-color: $peter-river;
        }
      }
      &.disabled a {
        color: $gray;
        background-color: $gray;
        cursor: default;
        &:hover {
          border-color: $gray-light;
        }
      }
      &.active a {
        border-color: white;
      }
    }
  }
}
