.student-page-parent-container {
  width: 75%;
  margin: 25px auto auto auto;
}

.student-profile-picture {
  margin-right: 50px;
  margin-bottom: 25px;
}

.student-cohort {
  font-size: 12px;
}

.student-name {
  margin-top: 0px;
}

.student-quirky-fact {
  font-size: 14px;
}

.student-info {
  margin-top: 3px;
  font-size: 14px;
}

.student-social-media {
  float: left;
  div {
    margin-top: 4px;
  }
}

.student-contact-info {
  float: right;
  div {
    margin-top: 4px;
  }
}

.student-bio {
  font-size: 15px;
  clear: both;
  border-top: 1px solid gainsboro;
  margin-bottom: 10px;
  margin-top: 10px;
  .student-bio-text {
    padding: 0px 5px 5px 5px;
  }
}

.student-objectives {
  font-size: 15px;
  border-top: 1px solid gainsboro;
  margin-bottom: 10px;
}

.student-activities-holder {
  border-top: 1px solid gainsboro; 
  border-bottom: 1px solid gainsboro; 
  font-size: 14px;
  clear: both;
}

.student-activities-holder > .student-activity-info:not(:last-child) {
  border-bottom: 2px dashed gainsboro;
}

.student-section-header {
  margin-top: 5px;
}

.student-section-title {
  float: left;
  font-size: 24px;
  margin-bottom: 5px;
}

.student-add-activity-button {
  float: right;
}

.student-all-assistances-button {
  margin-right: 5px;
  float: right;
}

.student-assistances-link > a {
  color: white;
}

.student-activity-info {
  clear: both;
}

.student-activity-details {
  float: left;
  margin-top: 5px;
}

.student-activity-name {
  font-weight: bold;
}

.code-reviewer-avatar {
  float: right;
  margin-top: 6px;
}

.student-activity-body {
  clear: both;
}

.all-assistances-holder {
  font-size: 14px;
}

.all-assistances-title {
  float: left;
  margin-top: 0px;
}

.all-assistances-holder > .student-activity-info:not(:last-child) {
  border-bottom: 2px dashed gainsboro;
}
