// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teacher-heading {
  text-align: center;
}

.avatar-holder {
  margin-top: 30px;
}

.dl-horizontal {
  dt {
    text-align: left;
  }

  dd {
    margin-bottom: 25px;
  }
}

.list-inline {
  li {
    padding-right: 40px;
  }
}

#teachers-selected-locations {
  label {
    margin-right: 20px;

    input {
      margin-right: 4px;
      position: relative;
      top: -1px;
    }
  }
}