- content_for :end_of_body do
  javascript:
    function initEditors() {
      var instructionsEditor = ace.edit("instructions-editor");
      var notesEditor = ace.edit("notes-editor");

      instructionsEditor.setTheme("ace/theme/monokai");
      notesEditor.setTheme("ace/theme/monokai");
      

      instructionsEditor.getSession().setMode("ace/mode/markdown");
      notesEditor.getSession().setMode("ace/mode/markdown");

      instructionsEditor.setValue($('#instructions_content').text())
      notesEditor.setValue($('#notes_content').text())
      
      if($('#test-editor').length > 0) {
        var testEditor = ace.edit("test-editor");
        testEditor.setTheme("ace/theme/monokai");
        testEditor.getSession().setMode("ace/mode/javascript");
        testEditor.setValue($('#test_content').text())
      }

      $('#activity-form').submit(function(evt) {
        evt.preventDefault();
        
        $('#activity-instructions').val(instructionsEditor.getValue());
        $('#activity-notes').val(notesEditor.getValue());
        
        if($('#test-editor').length > 0) {
          $('#activity_activity_test_attributes_test').val(testEditor.getValue());
        }
        
        this.submit();
      });
    }
    $(initEditors); // regular document ready