= form_tag search_activities_path, method: 'get', :id => 'search-form'
  .input-group.input-group-sm.search-input-field'
    = text_field_tag 'query', params[:query], placeholder: 'Enter activity name', :class => 'form-control'
  = submit_tag 'Search', class: 'btn btn-success btn-sm search-submit-button'